        body {
            margin: 0;
            font-family: "Roboto", Arial, sans-serif;
            font-size: 16px;
            line-height: 24px;
            background-color: #FFF;
            font-weight: 400;
            color: #000;
        }

        .container {
            width: 1200px;
            padding: 0 20px;
            margin: 0 auto;
        }

        .btn {
            font-size: 16px;
            line-height: 18px;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            background: #fb565a;
            border-radius: 3px;
            border: none;
        }

        .btn:hover {
            background-color: #e74246;
        }

        .btn:active {
            background-color: #d7373b;
            color: #e37376;
            box-shadow: inset 0 3px #c13135;
        }

        .header.index-header, .header.catalog-header {
            display: block;
            background-color: #eee;
        }

        .header-top {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-bottom: 20px;
            padding-top: 50px;
            align-items: center;
            background-color: #eee;
        }

        .header-top.header-catalog {
            padding-top: 82px;
            padding-bottoM: 0;
            padding-left: 21px;
        }

        .main-logo {
            cursor: pointer;
        }

        .main-logo:hover {
            opacity: 0.7;
        }

        .main-logo:active {
            opacity: 0.3;
        }

        nav .main-nav {
            display: flex;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding: 0;
            margin: 0;
        }

        .main-nav li {
            list-style: none;
            padding-top: 7px;
        }

        .main-nav a {
            display: inline-block;
            margin-right: 45px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            font-size: inherit;
            line-height: 30px;
            font-weight: bolder;
        }

        .header-top a:hover {
            color: #fb565a;
        }

        .header-top a:active {
            color: #a6a6a6;
        }

        .header-top a.active::after, .user-block a.active::after {
            position: absolute;
            content: "";
            background-color: #fb565a;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
        }

        .user-block a::after {
            display: none;
        }

        .user-block {
            margin-right: 39px;
            padding-top: 7px;
        }

        .user-block a {
            display: inline-block;
            padding-left: 40px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            font-size: inherit;
            line-height: 30px;
            font-weight: bolder;
        }

        .user-block a::before {
            position: absolute;
            content: "";
            background-image: url("../images/cart-icon.png");
            top: 30%;
            left: 0;
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
        }

        .user-block a.active .index-slider {
            display: block;
            position: relative;
            width: 100%;
            height: 423px;
            margin: 0 auto;
            background-color: #eee;
        }

        .slider {
            position: relative;
            height: 352px;
            margin: 0 auto;
        }

        .slider-controls {
            position: absolute;
            bottom: 95px;
            left: 50%;
            width: 200px;
            height: 10px;
            margin-left: -100px;
            text-align: center;
            z-index: 1000;
        }

        .index-slider input[type=radio] {
            position: absolute;
            opacity: 0;
        }

        .slider-controls label {
            display: inline-block;
            width: 4px;
            height: 4px;
            margin: 0 3px;
            background: white;
            border: 3px solid white;
            vertical-align: top;
            border-radius: 50%;
            cursor: pointer;
        }

        #btn-1:checked~.slider-controls label[for="btn-1"], #btn-2:checked~.slider-controls label[for="btn-2"], #btn-3:checked~.slider-controls label[for="btn-3"] {
            background: #c1c1c1;
        }

        .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-top: 50px;
            overflow: hidden;
        }

        .slide-text {
            width: 400px;
            color: #283136;
        }

        .slide-title, .shop-title {
            margin: 0;
            font-size: 55px;
            line-height: 55px;
            font-weight: bold;
            color: #000;
        }

        .slide-title {
            margin-bottom: 28px;
        }

        .shop-title {
            margin-left: auto;
            margin-right: auto;
        }

        .slide-text p {
            margin: 0;
            margin-bottom: 38px;
        }

        .slide .btn {
            box-sizing: border-box;
            margin-bottom: 85px;
            padding: 18px 55px;
            display: inline-block;
        }

        .slide:nth-child(1) {
            background-image: url('../images/slide1.png');
            background-repeat: no-repeat;
            background-position: 86% -11px;
            background-color: #eee;
        }

        .slide:nth-child(2) {
            background-image: url('../images/nerds_brand.png');
            background-repeat: no-repeat;
            background-position: 86% -11px;
            background-color: #eee;
        }

        .slide:nth-child(3) {
            background-image: url('../images/feature3.png');
            background-repeat: no-repeat;
            background-position: 86% -11px;
            background-color: #eee;
        }

        .slide {
            display: none;
        }

        #btn-1:checked~.slides .slide:nth-child(1) {
            display: block;
        }

        #btn-2:checked~.slides .slide:nth-child(2) {
            display: block;
        }

        #btn-3:checked~.slides .slide:nth-child(3) {
            display: block;
        }

        .header-bottom-catalog {
            padding-top: 69px;
            padding-bottom: 116px;
            text-align: center;
        }

        .index-features {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-top: 132px;
            padding-bottom: 82px;
            border-bottom: 2px solid #eee;
            background-color: #fff;
        }

        .feature {
            align-items: stretch;
            width: 33%;
        }

        .feature img {
            margin-bottom: 20px;
        }

        .feature-desc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin: auto;
        }

        .feature-desc h2 {
            margin: 0;
            padding: 0;
            padding-bottom: 19px;
            font-family: inherit;
            font-size: 24px;
            line-height: 30px;
            font-weight: bold;
            color: #000;
            text-transform: uppercase;
        }

        .feature-desc p {
            margin: 0;
            padding: 0;
            padding-bottom: 27px;
            padding-right: 120px;
            font-family: inherit;
            font-size: 16px;
            line-height: 24px;
            color: #000;
        }

        .feature-desc .feature-order {
            display: block;
            padding: 19px 39px;
        }

        .feature-desc .feature-order.order1 {
            background-color: #fb565a;
        }

        .feature-desc .feature-order.order2 {
            background-color: #00ca74;
        }

        .feature-desc .feature-order.order2:hover {
            background-color: #00bc6c;
        }

        .feature-desc .feature-order.order2:active {
            background-color: #00aa62;
            color: #4dc491;
            box-shadow: inset 0 3px #009958;
        }

        .feature-desc .feature-order.order3 {
            background-color: #efc84a;
        }

        .feature-desc .feature-order.order3:hover {
            background-color: #eab534;
        }

        .feature-desc .feature-order.order3:active {
            background-color: #e5a722;
            color: #edc265;
            box-shadow: inset 0 3px #ce961f;
        }

        .index-content {
            padding-bottom: 80px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;
            margin: auto;
            border-bottom: 2px solid #eee;
            background-color: #fff;
        }

        .index-content-left {
            padding-top: 71px;
            width: 680px;
            align-self: stretch;
        }

        .index-content-left h1 {
            padding: 0;
            margin: 0;
            margin-bottom: 32px;
            font-size: 45px;
            line-height: 45px;
            color: #000;
            font-weight: bolder;
        }

        .index-content-left p {
            padding: 0;
            margin: 0;
            margin-bottom: 40px;
            font-family: inherit;
            font-size: 16px;
            line-height: 24px;
            color: #000;
        }

        .index-content-left .content-list {
            padding: 0;
            margin: 0;
        }

        .content-list li {
            display: block;
            padding: 0;
            margin: 0;
            margin-bottom: 26px;
            padding-left: 37px;
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
            text-transform: lowercase;
            position: relative;
        }

        .content-list li::before {
            position: absolute;
            content: "";
            width: 27px;
            height: 3px;
            background-color: #fb565a;
            top: 50%;
            left: 0;
        }

        .content-list li:last-child {
            margin-bottom: 0;
        }

        .content-title {
            font-size: 16px;
            line-height: 24px;
            display: block;
            margin-bottom: 35px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .index-content-right {
            padding-top: 40px;
            width: 360px;
            align-self: stretch;
        }

        .index-content-right img {
            margin-bottom: 31px;
        }

        .index-content-right .content-definition {
            display: block;
            margin-left: 15px;
            font-size: 16px;
            line-height: 24px;
            color: #000;
            margin-bottom: 35px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .index-content-right .content-right-list {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
        }

        .content-right-list li {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            list-style: none;
            color: #000;
        }

        .content-right-list .percents {
            padding-bottom: 16px;
            line-height: 45px;
            font-size: 45px;
            font-weight: bold;
        }

        .content-right-list .percents-desc {
            font-size: 16px;
            font-weight: 18px;
            text-transform: capitalize;
            font-weight: normal;
        }

        .pictures {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            padding-top: 45px;
            padding-bottom: 44px;
            margin-bottom: 80px;
            border-bottom: 2px solid #eee;
            background-color: #fff;
        }

        .pictures a {
            display: block;
            flex-shrink: 1;
            flex-grow: 0;
            margin: auto;
            cursor: pointer;
        }

        .pictures img {
            opacity: 0.5;
        }

        .pictures img:hover {
            opacity: 1;
        }

        .pictures img:active {
            opacity: 0.3;
        }

        footer {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            position: relative;
            background-color: #fff;
        }

        .index-map {
            flex-grow: 0;
            flex-shrink: 1;
            width: 100%;
            height: 420px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            background-image: url("../images/map.jpg");
            background-repeat: no-repeat;
            background-size: 100% 808px;
            background-position: 50% 100%;
            overflow: hidden;
            background-color: #eee;
        }

        .index-map-adress {
            width: 319px;
            text-align: center;
            padding-top: 42px;
            padding-bottom: 43px;
            margin-left: 414px;
            background-color: #fff;
        }

        .index-map-adress::after {
            position: absolute;
            content: "";
            background-image: url(../images/map-marker.png);
            background-repeat: no-repeat;
            top: 92px;
            left: 54%;
            width: 231px;
            height: 190px;
        }

        .index-map-adress h3 {
            margin: 0;
            padding: 0;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 30px;
            color: #000;
        }

        .index-map-adress p {
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 18px;
            color: #666;
        }

        .index-map-adress .adress-phone {
            margin-bottom: 35px;
        }

        .index-map-adress .map-btn {
            display: block;
            margin: auto;
            padding: 19px 45px;
            outline: none;
        }

        .index-map-adress.map-btn:active .modal-content {
            animation-name: modal-open;
            animation-duration: 0.8s;
        }

        .footer-bottom {
            display: flex;
            justify-content: flex-start;
            white-space: nowrap;
            align-items: center;
            padding-top: 67px;
            padding-bottom: 70px;
            background-color: #fff;
        }

        .footer-socials {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .footer-socials a {
            display: inline-block;
            width: 80px;
            height: 78px;
            font-size: 0;
            background-color: #e1e1e1;
            border-radius: 50%;
        }

        .footer-socials a:hover {
            background-color: #e74246;
        }

        .footer-socials a:active {
            background-color: #d7373b;
            box=shadow: 0 3px #bfbfbf;
        }

        .footer-socials .vk {
            margin-right: 13px;
            background-image: url("../images/vk-icon.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .footer-socials .vk:active {
            background-image: url("../images/vk-icon-active.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .footer-socials .fb {
            margin-right: 12px;
            background-image: url("../images/fb-icon.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .footer-socials .fb:active {
            background-image: url("../images/fb-icon-active.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .footer-socials .insta {
            background-image: url("../images/insta-icon.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .footer-socials.insta:active {
            background-image: url("../images/insta-icon-active.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .footer-slogan {
            padding-left: 139px;
        }

        .footer-slogan h2 {
            padding: 0;
            margin: 0;
            margin-bottom: 15px;
            font-size: 36px;
            font-weight: bold;
            line-height: 36px;
            color: #000;
        }

        .footer-slogan span {
            font-size: 15px;
            line-height: 22px;
            color: #444;
        }
        /*стили для страницы каталога*/

        .container-catalog {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            margin: auto;
            padding-top: 50px;
        }

        .catalog-left {
            width: 260px;
            margin-right: 140px;
        }

        .catalog-form {
            margin: 0;
            padding: 0;
            border: none;
            text-align: left;
            padding-left: 20px;
        }

        .catalog-form label {
            color: #283136;
            font-size: 16px;
            line-height: 20px;
        }

        .catalog-form legend {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            line-height: 30px;
            text-transform: uppercase;
            color: #000;
        }

        .catalog-form ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .catalog-form li {
            display: block;
            vertical-align: middle;
        }

        .catalog-form.filter-range {
            margin-bottom: 56px;
        }

        .catalog-form input[type="checkbox"] {
            opacity: 0;
        }

        .range-filter {
            width: 260px;
        }

        .catalog-form.filter-range legend {
            margin-bottom: 49px;
        }

        .range-controls {
            position: relative;
            height: 41px;
            padding-top: 39px;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 5px;
            background: #f1f1f1;
            margin-bottom: 15px;
        }

        .range-controls .scale {
            height: 2px;
            background: #d7dcde;
        }

        .range-controls .bar {
            width: 70%;
            height: 2px;
            background: #00ca74;
        }

        .range-controls .toggle {
            position: absolute;
            top: 30px;
            left: 0px;
            cursor: pointer;
            width: 4px;
            height: 4px;
            border: 8px solid #fff;
            background: #ababab;
            border-radius: 50%;
            box-shadow: 0 2px 1px 0 #cfcfcf;
        }

        .range-controls .toggle-min {
            left: 20px;
        }

        .range-controls .toggle-max {
            left: 145px;
        }

        .price-controls {
            font-size: 0;
            white-space: nowrap;
        }

        .price-controls label {
            display: inline-block;
            width: 50%;
            font-size: 16px;
        }

        .max-price {
            text-align: right;
        }

        .price-controls input {
            width: 60px;
            padding: 8px 10px;
            margin-left: 10px;
            border: none;
            border-radius: 5px;
            background: #f1f1f1;
            font-family: 'Roboto', 'Arial', sans-serif;
            font-size: 16px;
            text-align: center;
            color: #283136;
        }

        .form-filter-grid {
            margin-bottom: 34px;
        }

        .form-filter-grid input[type="checkbox"]+label, .form-filter-special input[type="checkbox"]+label {
            position: relative;
            display: block;
            padding-left: 38px;
        }

        .form-filter-grid label::before {
            position: absolute;
            content: "";
            display: inline-block;
            top: 0%;
            width: 25px;
            height: 25px;
            border: 5px solid #b8b8b8;
            background-color: #fff;
            border-radius: 50%;
            right: 90%;
            box-sizing: border-box;
        }

        .form-filter-grid label::after {
            position: absolute;
            content: "";
            top: 46%;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #b8b8b8;
            left: 10px;
        }

        .form-filter-grid label:hover::before {
            border: 5px solid #4d4d4d;
        }

        .form-filter-grid label:disabled::before {
            border: 5px solid #ededed;
        }

        .form-filter-grid label:hover::after {
            background-color: #4d4d4d;
        }

        .form-filter-grid label:disabled::after {
            background-color: #ededed;
        }

        .form-filter-grid input[type="checkbox"]~label::after {
            content: none;
        }

        .form-filter-grid input[type="checkbox"]:checked~label::after {
            content: "";
        }

        .form-filter-special {
            margin-bottom: 32px;
        }

        .form-filter-special label::before {
            position: absolute;
            content: "";
            display: inline-block;
            top: 0%;
            width: 27px;
            height: 23px;
            border: 3px solid #b8b8b8;
            background-color: #fff;
            border-radius: 3px;
            right: 90%;
            box-sizing: border-box;
        }

        .form-filter-special label:hover::before {
            border: 3px solid #4d4d4d;
        }

        .form-filter-special label:disabled::before {
            border: 3px solid #ededed;
        }

        .form-filter-special label::after {
            position: absolute;
            content: "";
            top: -35%;
            left: 4px;
            width: 18px;
            height: 11px;
            border: 5px solid transparent;
            border-bottom-color: #b8b8b8;
            border-left-color: #b8b8b8;
            border-radius: 3px;
            transform: rotate(-45deg);
            z-index: 1;
        }

        .form-filter-special label:hover::after {
            border-bottom-color: #4d4d4d;
            border-left-color: #4d4d4d;
        }

        .form-filter-spacial label:disabled::after {
            border-bottom-color: #ededed;
            border-left-color: #ededed;
        }

        .form-filter-special input[type="checkbox"]~label::after {
            content: none;
        }

        .form-filter-special input[type="checkbox"]:checked~label::after {
            content: "";
        }

        .catalog-left .form-button-show {
            display: block;
            margin-left: 20px;
            padding: 18px 89px;
            color: #000;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 18px;
            font-weight: bold;
            background-color: #eee;
            border: none;
        }

        .catalog-left .form-button-show:hover {
            background-color: #dfdfdf;
        }

        .catalog-left .form-button-show:active {
            background-color: #d5d5d5;
            color: #c3c3c3;
            outline: none;
            box-shadow: inset 0 3px #bfbfbf;
        }

        .catalog-right {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 781px;
        }

        .sort {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            line-height: 18px;
            margin-bottom: 59px;
        }

        .sort .sort-choice {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .sort .catalog-results {
            display: block;
            width: 360px;
            font-size: 18px;
            font-weight: bold;
            flex-shrink: 1;
        }

        .sort-choice li {
            list-style: none;
        }

        .sort-choice li>a {
            padding-right: 28px;
            text-decoration: none;
            font-size: 14px;
            color: #b2b2b2;
        }

        .sort-choice li>a:hover {
            color: #666;
        }

        .sort-choice li>a:active {
            color: #000;
        }

        .sort-choice li>a.sort-active {
            color: #000;
        }

        .sort-controls .controls {
            display: inline-block;
            width: 0;
            height: 0;
            border: 9px solid #ccc;
        }

        .controls.control-down {
            border-bottom-width: 0;
            border-right-color: transparent;
            border-left-color: transparent;
        }

        .controls.control-down:hover {
            border-top-color: #999;
        }

        .controls.control-down:active {
            border-top-color: #000;
        }

        .controls.control-up {
            border-top-width: 0;
            border-right-color: transparent;
            border-left-color: transparent;
            margin-right: 20px;
        }

        .controls.control-up:hover {
            border-bottom-color: #999;
        }

        .controls.control-up:active {
            border-bottom-color: #000;
        }

        .controls.active-control {
            border-top-color: #000;
        }

        .gallery {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .gallery .image {
            display: flex;
            align-items: stretch;
            flex-wrap: nowrap;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 19px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            position: relative;
            background-color: #eee;
        }

        .image-top {
            display: block;
            padding-top: 14px;
            padding-bottom: 14px;
            text-align: left;
            width: 100%;
            background-color: #e9e9e9;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            ;
        }

        .image-top span {
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 15px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: #fff;
        }

        .image-top span:first-child {
            margin-left: 15px;
        }

        .price-overview {
            position: absolute;
            display: block;
            width: 100%;
            height: 231px;
            top: 63%;
            left: 0;
            padding-top: 30px;
            padding-bottom: 43px;
            padding-left: 80px;
            padding-right: 80px;
            box-sizing: border-box;
            text-align: center;
            opacity: 0;
            background-color: #eee;
        }

        .price-overview h2 {
            display: block;
            margin: 0;
            margin-bottom: 30px;
            font-size: 18px;
            text-transform: uppercase;
            line-height: 30px;
            color: #000;
        }

        .price-overview span {
            display: block;
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 18px;
            color: #666;
        }

        .price-overview .btn-sedona {
            padding: 18px 61px;
            text-transform: uppercase;
            outline: none;
        }

        .price-overview .btn-sedona:hover {
            background-color: #e74246;
        }

        .price-overview .btn-sedona:active {
            background-color: #d7373b;
            color: #fff;
        }

        .gallery .image:first-child:hover .price-overview {
            opacity: 1;
            z-index: 10;
        }

        .catalog-right .pages {
            margin: 0;
            padding: 0;
            padding-top: 22px;
            padding-bottom: 51px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .pages li {
            margin-right: 11px;
            list-style: none;
            text-align: center;
        }

        .pages li>a {
            display: inline-block;
            padding: 14px 19px;
            box-sizing: border-box;
            background-color: #eee;
            border: 3px solid #eee;
            border-radius: 3px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: bolder;
            text-decoration: none;
            color: #000;
        }

        .pages li>a:hover {
            background-color: #dfdfdf;
            border: 3px solid #dfdfdf;
        }

        .pages li>a:active {
            background-color: #d5d5d5;
            color: #c3c3c3;
            outline: none;
            box-shadow: inset 0 3px #bfbfbf;
        }

        .pages .pages-active {
            background-color: #fff;
            border: 3px solid #eee;
        }

        .pages .next {
            padding: 14px 76px;
        }

        .modal-content {
            display: none;
            position: absolute;
            width: 960px;
            height: 590px;
            padding: 60px 100px 84px 100px;
            top: -21%;
            left: 26%;
            box-sizing: border-box;
            background-color: #fff;
            box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
        }

        .modal-content h2 {
            display: block;
            margin: 0;
            margin-bottom: 40px;
            font-size: 45px;
            line-height: 45px;
            font-weight: bolder;
        }

        .modal-content .modal-content-close {
            position: absolute;
            left: 80%;
            top: 60px;
            width: 21px;
            height: 21px;
            font-size: 0;
            border: 0;
            cursor: pointer;
            background-color: #fff;
        }

        .modal-content-close::before {
            transform: rotate(45deg);
        }

        .modal-content-close::after {
            transform: rotate(-45deg);
        }

        .modal-content-close::before, .modal-content-close::after {
            content: "";
            position: absolute;
            width: 18px;
            height: 3px;
            background-color: #fecccd;
            border-radius: 1px;
        }

        .modal-content .name-email {
            display: flex;
            margin-bottom: 36px;
            justify-content: space-between;
        }

        .modal-content .name {
            margin-right: 40px;
        }

        .modal-form label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            line-height: 18px;
        }

        .name-email input {
            display: block;
            width: 356px;
            height: 56px;
            border: 2px solid #d7dcde;
            box-sizing: border-box;
            border-radius: 3px;
        }

        .modal-form input::placeholder {
            color: #a1a1a1;
            font-size: 16px;
            line-height: 18px;
        }

        .modal-form textarea {
            width: 100%;
            height: 118px;
            margin-bottom: 47px;
            box-sizing: border-box;
            border: 2px solid #d7dcde;
            border-radius: 3px;
            color: #a1a1a1;
            font-size: 16px;
            line-height: 18px;
        }

        .modal-form .modal-btn {
            padding: 18px 82px;
        }

        .modal-form input[type="text"]:hover, .modal-form input[type="email"]:hover, .modal-form textarea:hover {
            border-color: #b4b9bb;
            color: #b4b9bb;
            outline: none;
        }

        .modal-form input[type="text"]:focus, .modal-form input[type="email"]:focus, .modal-form textarea:focus {
            border-color: #010101;
            color: #010101;
            outline: none;
        }

        .modal-form input:invalid, .modal-form textarea:invalid {
            border-color: #e74347;
            color: #e74347;
        }

        @keyframes modal-open {
            0% {
                transform: translateY(-2000px);
                100% {
                    transform: translateY(0);
                }
            }
        }

        .modal-content-show {
            display: block;
            animation: modal-open 0.8s;
        }
